<nav class="navbar navbar-expand-lg navbar-light bg-light bnj-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand bnj-navbar-brand" href="/">Wild Series</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 bnj-navbar-font">
            <li class="nav-item active bnj-navbar-home">
                <a class="nav-link bnj-link-color" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item bnj-navbar-home">
                <a class="nav-link bnj-link-color" href="/wild/login">Login</a>
            </li>
            <li class="nav-item bnj-nav-item">
                <a class="nav-link bnj-link-color" href="/wild/series">Series</a>
            </li>
            <li class="nav-item bnj-nav-item">
                <a class="nav-link bnj-link-color" href="/wild/movies">Movies</a>
            </li>
            <li class="nav-item bnj-nav-item">
                <a class="nav-link bnj-link-color" href="/wild/actors">Actors</a>
            </li>
            <li class="nav-item bnj-nav-item">
                <a class="nav-link bnj-link-color" href="/wild/categories">Categories</a>
            </li>
        </ul>
    </div>
    <a href="/wild/login" class="bnj-navbar-icons"><i class="fas fa-user-circle fa-3x"></i></a>
    <i class="fas fa-grip-lines-vertical fa-3x bnj-navbar-icons"></i>
    <i class="fas fa-language fa-3x bnj-navbar-icons"></i>
</nav>